<style>
    .ui.grid > .column:not(.row), .ui.grid > .row > .column {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
        .ui.three.cards.member > .card {
            width: calc( 33.33333333% - 1em );
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    .ui.statistic {
        max-width: 100%;
    }
    .ui[class*="super compact"].table td {
        padding: 0.1em 0.5em;
    }
    .ui[class*="super compact"].table th {
        padding: 0.15em 0.5em;
    }
        .hidden {
            display: none;
        }
        .ui.list .item .content .extra {
            font-size: smaller;
        }
</style>
<h2 class="ui dividing header">
    <i class="dashboard icon"></i>
    <div class="content">
        dashboard
    </div>
</h2>
<div class="ui blue menu">
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10301000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10301000' ? 'active' : ''}" do %>
        <i class="github alternate icon"></i> 技術推進
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10401000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10401000' ? 'active' : ''}" do %>
        <i class="tablet icon"></i> CDS
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10402000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10402000' ? 'active' : ''}" do %>
        <i class="suitcase icon"></i> NBS
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10403000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10403000' ? 'active' : ''}" do %>
        <i class="lightning icon"></i> NSS
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10501000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10501000' ? 'active' : ''}" do %>
        <i class="gift icon"></i> ECS
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10502000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10502000' ? 'active' : ''}" do %>
        <i class="diamond icon"></i> ITC
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10503000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10503000' ? 'active' : ''}" do %>
        <i class="shipping icon"></i> RSL
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10201000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10201000' ? 'active' : ''}" do %>
        <i class="line chart icon"></i> 営業
    <% end %>
    <% link_to url(:dashboard, :index, :mst_blg_cd => '10202000', :month => params[:month]), :class => "item #{params[:mst_blg_cd] == '10202000' ? 'active' : ''}" do %>
        <i class="game icon"></i> CD
    <% end %>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" name="month" placeholder="年月(yyyyMM)..." value="<%= params[:month] %>">
                <i class="calendar icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="ui four column grid">
    <div class="column">
        <div class="ui fluid<% if @o60 > 0 %> red<% end %> card">
            <div class="content">
                <div class="header">残業見込み60+</div>
                <div class="description">
                </div>
                <div class="ui<% if @o60 > 0 %> red<% end %> tiny statistic">
                    <div class="value">
                        <i class="users icon"></i> <%= @o60 %> 人
                    </div>
                    <div class="label">
                        現状ペース算出
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">平均残業時間</div>
                <div class="description">
                </div>
                <div class="ui tiny statistic">
                    <div class="value">
                        <i class="users icon"></i> <%= @aveo.round 2 %> h
                    </div>
                    <div class="label">
                        見込み残業平均時間
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">平均出社時間</div>
                <div class="description">
                </div>
                <div class="ui tiny statistic">
                    <div class="value">
                        <i class="wait icon"></i> <%= @awt %>
                    </div>
                    <div class="label">
                        出勤時間の平均
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid<% if @hwd > 0 %> red<% end %> card">
            <div class="content">
                <div class="header">休日出勤数</div>
                <div class="description">
                </div>
                <div class="ui<% if @hwd > 0 %> red<% end %> tiny statistic">
                    <div class="value">
                        <i class="calendar outline icon"></i> <%= @hwd %> 日
                    </div>
                    <div class="label">
                        平日以外の出勤日数
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="column">
            <table class="ui super compact basic celled table">
                <thead>
                <tr>
                    <th rowspan="3">名前</th>
                    <th colspan="6" class="center aligned">実績</th>
                    <th rowspan="2" colspan="2" class="center aligned">見込み</th>
                </tr>
                <tr>
                    <th colspan="4" class="center aligned">勤務</th>
                    <th colspan="2" class="center aligned">平均</th>
                </tr>
                <tr>
                    <th class="right aligned">日数</th>
                    <th class="right aligned">休出</th>
                    <th class="right aligned">勤務</th>
                    <th class="right aligned">残業</th>
                    <th class="right aligned">時間</th>
                    <th class="right aligned">出勤</th>
                    <th class="right aligned">合計</th>
                    <th class="right aligned">残業</th>
                </tr>
                </thead>
                <tbody>
                <% hide_count = 0 %>
                <% @sum.each_with_index do |s, i| %>
                <tr class="<% if s[:est_overtime] >= 60.0 %>negative<% elsif s[:est_overtime] >= 45.0 %>warning<% elsif s[:holiday_workdays] > 0 %>negative<% elsif i > 4 %><% hide_count += 1 %>hidden<% end %>">
                    <td><%= s[:model].user.full_name %></td>
                    <td class="right aligned"><%= s[:workdays] %></td>
                    <td class="right aligned"><%= s[:holiday_workdays] %></td>
                    <td class="right aligned"><%= s[:worktime] %></td>
                    <td class="right aligned"><%= s[:overtime] %></td>
                    <td class="right aligned"><%= s[:ave_worktime].round 2 %></td>
                    <td class="right aligned"><%= s[:ave_starttime] %></td>
                    <td class="right aligned"><%= s[:est_worktime].round 2 %></td>
                    <td class="right aligned"><%= s[:est_overtime].round 2 %></td>
                </tr>
                <% end %>
                </tbody>
                <% if hide_count > 0 %>
                <tfoot>
                <tr>
                    <th colspan="9"><a class="ui right floated basic primary tiny button" onclick="$('table tr.hidden').toggle();"><i class="plus icon"></i> すべて表示</a></th>
                </tr>
                </tfoot>
                <% end %>
            </table>
        </div>
    </div>
</div>
<!--
<div class="ui one column grid">
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div id="container"></div>
            </div>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="eight wide column">
        <div class="column">
            <div class="ui fluid blue card">
                <div class="content">
                    <a class="header">高稼働メンバ（直近一週間）</a>
                    <div class="ui three doubling cards member">
                        <div class="card">
                            <div class="image">
                                <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                                <div class="meta">
                                    <a>12h</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                                <div class="meta">
                                    <a>11.5h</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            </div>
                            <div class="content">
                                <a class="header">渡辺 慎也</a>
                                <div class="meta">
                                    <a>10.5h</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            </div>
                            <div class="content">
                                <a class="header">渡辺 慎也</a>
                                <div class="meta">
                                    <a>10.5h</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="column">
            <div class="ui fluid blue card">
                <div class="content">
                    <a class="header">高稼働メンバ（前月）</a>
                    <div class="ui three doubling cards member">
                        <div class="card">
                            <div class="image">
                                <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            </div>
                            <div class="content">
                                <a class="header">渡辺 慎也</a>
                                <div class="meta">
                                    <a>60h</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                                <div class="meta">
                                    <a>55.2h</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            </div>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                                <div class="meta">
                                    <a>45.5h</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="column">
            <div class="ui fluid green card">
                <div class="content">
                    <a class="header">プロジェクト</a>
                    <table class="ui very compact basic table">
                        <thead>
                        <tr>
                            <th>件名</th>
                            <th>部門</th>
                            <th>金額</th>
                            <th>稼働</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a>タッチゲットPJ　HBC対応</a></td>
                            <td>RSL部</td>
                            <td>\1,350,000</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a>反響エクスポート案件 取り込みバッチ</a></td>
                            <td>CDS部</td>
                            <td>\1,440,000</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<% if @quotn.present? %>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="column">
            <div class="ui fluid teal card">
                <div class="content">
                    <a class="header">直近の見積もり</a>
                    <div class="ui divided list">
                    <% @quotn.each do |q| %>
                            <div class="item">
                                <div class="content">
                                    <div class="ui right floated <%= q.order_stat_color %> mini label"><%= q.order_stat_i18n %></div>
                                    <div class="ui <%= q.cntrct_tp_color %> mini label left floated"><%= q.cntrct_tp_i18n %></div><%= link_to q.quotn_title, url(:quotn, :detail, :quotn_no => q.quotn_no, :quotn_ver_no => q.quotn_ver_no), :class => :header %>
                                    <div class="description">
                                        金額：<%= q.quotn_amt.try :jpy_comma %>
                                        工数：<%= q.contract_man_hour_mm.blank? ? '' : (q.contract_man_hour_mm.to_s + ' mm') %>
                                        営業：<%= q.sales_assoc.nm %>
                                    </div>
                                    <div class="extra right floated">
                                        最終更新：<%= q.final_upd_date.format_ymd %> <%= q.updater.nm %>
                                    </div>
                                </div>
                            </div>
                    <% end %>
                    </div>
                </div>
                <div class="extra content">
                    <a href="<%= url(:quotn, :index) %>" class="right floated ui primary tiny basic button">
                        <i class="angle right icon"></i> 見積もり一覧へ
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="eight wide column">
        <div class="column">
            <div class="ui fluid red card">
                <div class="content">
                    <a class="header">情報</a>
                    <table class="ui super compact basic table">
                        <thead>
                        <tr>
                            <th>名前</th>
                            <th>状況</th>
                            <th>備考</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a>タッチゲットPJ　HBC対応</a></td>
                            <td>赤字案件（単月）</td>
                            <td>\1,350,000</td>
                        </tr>
                        <tr>
                            <td><a>渡辺 慎也</a></td>
                            <td>連続勤務</td>
                            <td>14連勤</td>
                        </tr>
                        <tr>
                            <td><a>ほげほげ案件</a></td>
                            <td>高稼働</td>
                            <td>平均12.5h</td>
                        </tr>
                        <tr>
                            <td><a>ほげほげ案件</a></td>
                            <td>情報不足</td>
                            <td>アサインが未入力</td>
                        </tr>
                        <tr>
                            <td><a>ほげほげ案件</a></td>
                            <td>情報不足</td>
                            <td>進行売上が未入力</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
<% end %>
<script>
    $(function () {
        $('.left.demo.sidebar')
                .sidebar('toggle')
        ;
        /*
        $('#container').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Average Monthly Temperature and Rainfall in Tokyo'
            },
            subtitle: {
                text: 'Source: WorldClimate.com'
            },
            xAxis: [{
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}°C',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: 'Temperature',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: 'Rainfall',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} mm',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 100,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: 'Rainfall',
                type: 'column',
                yAxis: 1,
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                tooltip: {
                    valueSuffix: ' mm'
                }

            }, {
                name: 'Temperature',
                type: 'spline',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
                tooltip: {
                    valueSuffix: '°C'
                }
            }]
        });
        */
    });
</script>