<h2 class="ui dividing header">
    <i class="newspaper icon"></i>
    <div class="content">
        見積もり情報
    </div>
</h2>
<!--
<div class="ui search focus">
    <div class="ui icon input">
        <input class="prompt" type="text" placeholder="フリーワード検索" autocomplete="off">
        <i class="search icon"></i>
    </div>
</div>
-->
<div class="ui blue menu">
    <% link_to url(:quotn, :index), :class => "item #{params[:main_group_mst_blg_cd].blank? ? 'active' : ''}" do %>
        <i class="globe icon"></i> ALL
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10301000'), :class => "item #{params[:main_group_mst_blg_cd] == '10301000' ? 'active' : ''}" do %>
        <i class="tablet icon"></i> 技術推進
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10401000'), :class => "item #{params[:main_group_mst_blg_cd] == '10401000' ? 'active' : ''}" do %>
        <i class="tablet icon"></i> CDS
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10402000'), :class => "item #{params[:main_group_mst_blg_cd] == '10402000' ? 'active' : ''}" do %>
        <i class="suitcase icon"></i> NBS
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10403000'), :class => "item #{params[:main_group_mst_blg_cd] == '10403000' ? 'active' : ''}" do %>
        <i class="lightning icon"></i> NSS
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10501000'), :class => "item #{params[:main_group_mst_blg_cd] == '10501000' ? 'active' : ''}" do %>
        <i class="gift icon"></i> ECS
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10502000'), :class => "item #{params[:main_group_mst_blg_cd] == '10502000' ? 'active' : ''}" do %>
        <i class="diamond icon"></i> ITC
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10503000'), :class => "item #{params[:main_group_mst_blg_cd] == '10503000' ? 'active' : ''}" do %>
        <i class="shipping icon"></i> RSL
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10201000'), :class => "item #{params[:main_group_mst_blg_cd] == '10201000' ? 'active' : ''}" do %>
        <i class="line chart icon"></i> 営業
    <% end %>
    <% link_to url(:quotn, :index, :main_group_mst_blg_cd => '10202000'), :class => "item #{params[:main_group_mst_blg_cd] == '10202000' ? 'active' : ''}" do %>
        <i class="game icon"></i> CD
    <% end %>
</div>
<div class="ui divided items">
    <% @quotn.each do |q| %>
        <div class="item">
            <div class="image">
                <img src="/images/noimage.png">
            </div>
            <div class="content">
                <% link_to url(:quotn, :detail, :quotn_no => q.quotn_no, :quotn_ver_no => q.quotn_ver_no), :class => 'header' do %>
                    <%= q.quotn_title %>
                    <% if q.final_upd_date == Date.today.strftime('%Y%m%d') %>
                        <div class="ui blue mini tag label">today</div>
                    <% elsif q.final_upd_date >= (Date.today - 3).strftime('%Y%m%d') %>
                        <div class="ui red mini tag label">update</div>
                    <% end %>
                    <% if q.create_date == Date.today.strftime('%Y%m%d') %>
                        <div class="ui green mini tag label">new!</div>
                    <% end %>
                <% end %>
                <div class="meta">
                    <span class="cinema"><%= q.csc_cust.fml_cust_nm %></span>
                </div>
                <div class="extra">
                    <div class="ui <%= q.cntrct_tp_color %> label"><%= q.cntrct_tp_i18n %></div>
                    <div class="ui teal label"><i class="globe icon"></i> <%= q.belonging.blg_nm %></div>
                    <div class="ui <%= q.order_stat_color %> label"><%= q.order_stat_i18n %></div>
                </div>
                <div class="extra">
                    金額：<%= q.quotn_amt.try :jpy_comma %>
                    工数：<%= q.contract_man_hour_mm.blank? ? '' : (q.contract_man_hour_mm.to_s + ' mm') %>
                </div>
                <div class="extra">
                    技術担当：<%= q.tech_assoc.try(:nm) || '未設定' %>
                    営業担当：<%= q.sales_assoc.nm %>
                </div>
                <div class="extra">
                    最終更新日：<%= q.final_upd_date.format_ymd %>
                    最終更新者：<%= q.updater.nm %>
                </div>
                <% if q.remark.present? %>
                    <div class="description">
                        <div class="ui segment">
                            <div class="ui top left attached label">備考</div>
                            <%= simple_format(h(q.remark)) %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<%= paginate @quotn %>