<div class="draft_title_area form_content">
  <%= f.text_field :title, :class => 'draft_title_input form_input_item', :placeholder => 'タイトル' %>
</div>

<% if @article then %>
  <% @article.article_tags.each do |tag| %>
    <% fields_for tag do |tag| %>
      <div class="draft_tag_area form_content">
        <%= tag.text_field :tag, :name => 'article_tag[tag][]', :class => 'draft_tag_input form_input_item', :placeholder => 'タグ' %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="draft_tag_area form_content">
    <%= text_field_tag :tag, :name => 'article_tag[tag][]', :class => 'draft_tag_input form_input_item', :placeholder => 'タグ' %>
  </div>
  <div class="draft_tag_area form_content">
    <%= text_field_tag :tag, :name => 'article_tag[tag][]', :class => 'draft_tag_input form_input_item', :placeholder => 'タグ' %>
  </div>
<% end %>

<div class="form_table form_content">
  <div class="table_block">
    <%= f.text_area :article, :class => 'form_input_item' %>
  </div>
  <div class="table_block">
    <%= text_area_tag :preview, :class => 'form_input_item' %>
  </div>
</div>

<%= f.hidden_field :id %>

<section class="submit_section">
  <div class="ui secondary button">Save</div>
</section>
<script>
$(function() {
  $('.submit_section').on('click', function() {
    $('*[name=article_form]').submit();
  });
});
</script>
