<div class="field">
  <div class="required field">
    <label>title</label>
    <div class="ui icon input">
      <%= f.text_field :title, :placeholder => 'title' %>
    </div>
  </div>
  <div class="required two fields">
    <div class="field">
      <label>tag</label>
      <% if @article && !@article.article_tags.empty? %>
          <% @article.article_tags.each do |tag| %>
            <div class="tags" style="display: none;"><%= tag.tag %></div>
          <% end %>
      <% end %>
      <% fields_for :article_tag do |ftag| %>
          <%= ftag.select :tag, multiple: "multiple" %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <a href="markdown">markdown記法について</a>
  </div>
  <div class="two fields">
    <div class="required field">
      <label>text</label>
      <%= f.text_area :article %>
    </div>
    <div class="field">
      <label>preview</label>
      <%= text_area_tag :preview %>
    </div>
  </div>
  <%= f.submit "submit", :class => 'ui right floated submit button' %>
  <%= f.hidden_field :id %>
</div>

<script>
$(function() {
  $data = [];
  $.each($('.tags'), function() {
    $data.push({
      id: this.innerText,
      text: this.innerText,
      selected: true
    })
  });
  $at = $("#article_tag_tag");
  $at.select2({
    tags: $data,
    width: 300,
    maximumInputLength: 20
  });
});
</script>
