<div class="errors">
  <%= flash_tag :error, :class => "ui red message" %>
</div>

<div class="title_area form_content">
  <%= f.text_field :title, :class => 'title_input form_input_item', :placeholder => 'タイトル' %>
</div>

<% if @article && !@article.article_tags.empty? %>
  <% @article.article_tags.each do |tag| %>
    <% fields_for tag do |tag| %>
      <div class="tag_area form_content">
        <%= tag.text_field :tag, :name => 'article_tag[tag][]', :class => 'tag_input form_input_item', :placeholder => 'タグ' %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% fields_for :article_tag do |tag| %>
    <div class="tag_area form_content">
      <%= tag.hidden_field :tag %>
    </div>
  <% end %>
<% end %>

<div class="form_table form_content">
  <div class="table_block">
    <%= f.text_area :article, :class => 'form_input_item' %>
  </div>
  <div class="table_block">
    <%= text_area_tag :preview, :class => 'form_input_item' %>
  </div>
</div>

<%= f.hidden_field :id %>

<section class="submit_section">
  <div class="ui secondary button">Save</div>
</section>
<script>
$(function() {
  $('.submit_section').on('click', function() {
    $('*[name=article_form]').submit();
  });

  $.get('/kiita_api/tags',
    {},
    function(data) {
      $("#article_tag_tag").select2({
        tags:data,
        maximumInputLength: 20
      });
    }
  );
});
</script>
