<div class="errors">
  <%= flash_tag :error, :class => "ui red message" %>
</div>

<div class="title_area form_content">
  <%= f.text_field :title, :class => 'title_input form_input_item', :placeholder => 'タイトル' %>
</div>

<% if @article && !@article.article_tags.empty? %>
  <div class="tag_area form_content">
    <% @article.article_tags.each do |tag| %>
      <div class="tags" style="display: none;"><%= tag.tag %></div>
    <% end %>
    <% fields_for :article_tag do |ftag| %>
      <%= ftag.hidden_field :tag %>
    <% end %>
  </div>
<% else %>
  <% fields_for :article_tag do |ftag| %>
    <div class="tag_area form_content">
      <%= ftag.hidden_field :tag %>
    </div>
  <% end %>
<% end %>

<div class="form_table form_content">
  <div class="table_block">
    <%= f.text_area :article, :class => 'form_input_item' %>
  </div>
  <div class="table_block">
    <%= text_area_tag :preview, :class => 'form_input_item' %>
  </div>
</div>

<%= f.hidden_field :id %>
<%= f.hidden_field :user_id, {value: current_user.id} %>

<section class="submit_section">
  <div class="ui secondary button">Save</div>
</section>
<script>
$(function() {
  $('.submit_section').on('click', function() {
    $('*[name=article_form]').submit();
  });

  $.get('/kiita_api/tags',
    {},
    function(data) {
      $tt = $(".tag_area .tags");
      tagData = [];
      $tt.each(function() {
        tagData.push($(this).text());
      });
      $at = $("#article_tag_tag");
      $at.val(tagData).select2({
        tags:data,
        width: 300,
        maximumInputLength: 20
      });
    }
  );
});
</script>
