<div class="info">
  <%= flash_tag :info, :class => "ui blue message" %>
</div>
<div class="success">
  <%= flash_tag :success, :class => "ui green message" %>
</div>

<% @articles.each do |at| %>
<div class="ui feed">
  <div class="event">
    <div class="label">
      <i class="pencil icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        <% if current_user.id == at.user.id %>
          <% link_to url(:kiita, :mypage) do %>
            <img src="<%= at.user.get_thumbnail_path %>" />
          <% end %>
        <% else %>
          <% link_to url(:kiita, :profile, at.user.name) do %>
            <img src="<%= at.user.get_thumbnail_path %>" />
          <% end %>
        <% end %>
        <% link_to url(:kiita, :view, at.id) do %>
          <%= at.title %>
        <% end %>
        <div class="date">
          <%= time_ago_in_words at.created_at %>前
        </div>
      </div>
      <div class="extra text">
        <i class="tags icon"></i>
        <% if at.article_tags.present? %>
          <% at.article_tags.each do |tag| %>
            <% link_to url(:kiita, :tag, tag.tag) do %>
              <div id="tag" class="ui teal label">
                <%= tag.tag %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon red"></i> <%= at.likes %> Likes
        </a>
      </div>
    </div>
  </div>
</div>
<% end %>

<section class="pager">
  <%= paginate @articles %>
</section>
