<div class="info">
  <%= flash_tag :info, :class => "ui blue message" %>
</div>
<div class="success">
  <%= flash_tag :success, :class => "ui green message" %>
</div>

<div id="articles">
  <table class="ui five column table segment">
    <thead>
      <tr>
        <th>title</th>
        <th>tags</th>
        <th>etc</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |value| %>
      <tr>
        <td><a href="/kiita/view/<%= value.id %>"><%= value.title %></a></td>
        <td><%= value.article_tags.collect {|v| v.tag }.join(' / ') %></td>
        <td><a href="/kiita/update/<%= value.id %>"><i class="edit icon"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
