<style type="text/css">
.like {
  cursor: pointer;
}
</style>
<section class="background">
  <section class="view_area">
    <h1><%= @article.title %></h1>
    <h5>
      <img src="<%= @user.get_thumbnail_path %>" width="48" height="48" />
      <%= @user.name %> が <%= @article.get_created_at %> に投稿しました。
      <% if @article.mine? current_user.id %>
        <% link_to url(:kiita,:update, @article.id) do  %>
          <div class="small ui blue button">
            edit
        </div>
        <% end %>
        <% form_tag "/kiita/destroy/#{@article.id}", :method => :delete, :style => "display: inline" do %>
          <%= submit_tag "delete", :class => 'tiny ui red button'%>
        <% end %>
      <% end %>
    </h5>
    <h6>
      <a class="like">
        <i class="like icon"></i> <%= @article.likes %> Likes
      </a>
    </h6>
  </section>

  <section class="view_area">
  <% if @article && @article.article_tags.present? %>
    <i class="tags icon"></i>
    <% @article.article_tags.each do |tag| %>
      <a id="tag" class="ui label">
        <%= tag.tag %>
      </a>
    <% end %>
  <% end %>
  </section>

  <section class="view_area">
    <%= @md_text.html_safe %>
  </section>
</section>
<script>
$(function() {
  $like = $("a.like");
  $icon = $('<i class="like icon"></i>');

  $like.click(function(){
    $.ajax({
      type: "get",
      url: "/kiita_api/increment_like/<%= @article.id %>"
    }).done(function(d) {
      if(d.is_success == 1) {
        $like.empty();
        $like.append($icon).append(' ' + d.results.likes + ' likes');
      }
    });
  });
});
</script>
