<%= stylesheet_link_tag 'vendor', 'feeling' %>
<h2 class="ui dividing header"><i class="smile icon"></i><div class="content">気分</div></h2>
<div class="content" id="feelings">
    <% if current_user.redmine_user.id == @feeling.user.id %>
    <div class="ui buttons">
        <div class="ui blue basic button disabled"><i class="write icon"></i>更新</div>
        <div class="ui red button" id="js-remove-btn"><i class="remove icon"></i>削除</div>
    </div>
    <% end %>
    <div class="ui divided items">
        <div class="item">
            <div class="ui very tiny image">
                <img src="<%= @feeling.level_pict %>" style="width: 48px;">
            </div>
            <div class="content">
                <a class="ui right floated primary basic tiny button" href="/feeling?user_id=<%= @feeling.user.id %>">
                    気分一覧（<%= @feeling.user.full_name %>）
                    <i class="right chevron icon"></i>
                </a>
                <a class="header" href="http://172.23.0.100/redmine/users/<%= @feeling.user.id %>" target="_blank"><%= @feeling.at %> <%= @feeling.user.full_name %></a>
                <div class="meta">
                    <span>コメント数 <%= @feeling.comments_count %></span>
                </div>
                <div class="middle aligned description">
                    <%= @feeling.description_disp_html %>
                </div>
                <div class="extra">
                    <!-- div class="ui label">Limited</div -->
                </div>
                <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <% @feeling.comments.each do |c| %>
                    <div class="comment">
                        <a class="avatar">
                            <img src="/images/noimage.png">
                        </a>
                        <div class="content">
                            <a class="author"><%= c.user.full_name %></a>
                            <div class="metadata">
                                <span class="date" title="<%= c.created_on %>"><%= time_ago_in_words c.created_on %></span>
                            </div>
                            <% if c.author_id == current_user.redmine_user.id %>
                            <a class="ui right floated primary basic tiny button">
                                <i class="remove icon"></i>削除
                            </a>
                            <% end %>
                            <div class="text">
                                <%= c.content_to_html c.comments %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <form class="ui reply form">
                    <div class="field">
                        <textarea rows="3"></textarea>
                    </div>
                    <input type="hidden" name="id" value="<%= @feeling.id %>">
                    <div class="ui blue labeled submit icon tiny button">
                        <i class="icon edit"></i> コメント
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ui basic modal" id="js-remove-confirm">
    <i class="close icon"></i>
    <div class="header">
        気分の削除
    </div>
    <div class="content">
        <div class="image">
            <i class="remove icon"></i>
        </div>
        <div class="description">
            <p><%= @feeling.at.strftime '%Y/%m/%d' %> の気分を削除しても宜しいですか？</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic inverted button">
                <i class="remove icon"></i>
                いいえ
            </div>
            <div class="ui green basic inverted button js-yes" data-id="<%= @feeling.id %>">
                <i class="checkmark icon"></i>
                はい
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'feeling_detail.js' %>
