<style>
    .ui.very.tiny.image {
        width: 48px;
    }
    .ui.items > .item > .content p {
        margin: 0em 0em 1em;
    }
    .ui.comments .reply.form textarea {
        min-height: 3em;
        height: 3em;;
    }
    .ui.items > .item > div.content .description {
        max-width: none;
        line-height: 1.5;
    }
    ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item {
        padding: 0.1em 0em !important;
    }
        .preview {
            min-height: 142px;
            font-size: x-small;
        }
    .ui[class*="super compact"].table td {
        padding: 0.1em 0.5em;
    }
    .feeling.description {
        margin-top: 16px;
    }
    .item .content .description pre {
        background-color: transparent;
        margin: 0em;
        padding: 0em;
    }
</style>
<h2 class="ui dividing header"><i class="smile icon"></i><div class="content">気分一覧</div></h2>
<div class="ui form segment">
    <div class="field">
        <label>プロジェクト</label>
        <select class="ui search dropdown" name="project_id" id="js-project">
            <option value="">すべて</option>
            <% Redmine::Project.order(:id).each do |p| %>
            <option value="<%= p.id %>"<% if params[:project_id].present? && p.id == params[:project_id].to_i %> selected<% end %>><%= p.name %> - <%= p.identifier %></option>
            <% end %>
        </select>
    </div>
</div>
<div class="ui segment js-feeling">
    <h4>気分投稿</h4>
    <div class="ui pointing secondary menu">
        <%
           0.upto(6) do |i|
           t = Date.today - i
        %>
            <a class="item" data-tab="<%= t.strftime '%Y%m%d' %>"><% if @feelings.include? t %><i class="checkmark icon"></i><% end %><%= t.strftime "%Y-%m-%d(#{%w(日 月 火 水 木 金 土)[t.wday]})" %></a>
        <% end %>
    </div>
    <div class="feeling">
        <%
           0.upto(6) do |i|
             t = Date.today - i
        %>
            <div class="ui tab js-<%= t.strftime '%Y%m%d' %>" data-tab="<%= t.strftime '%Y%m%d' %>"></div>
        <% end %>
    </div>
</div>
<div class="content">
    <div class="ui divided items" id="feelings"></div>
</div>
<%= javascript_include_tag 'jquery.bottom-1.0.js' %>
<%= javascript_include_tag 'feeling.js' %>
