<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags.html_safe %>
<title>bizevo</title>
<%= stylesheet_link_tag 'vendor', 'bizevo' %>
<%= javascript_include_tag 'vendor.js', 'app.js' %>
</head>
<body>
<div class="ui fixed main menu">
    <div class="container">
        <div class="left menu">
            <div class="title item">
                <b>bizevo</b>
            </div>
            <% link_to url(:index), :class => 'icon item' do %>
                <i class="dashboard icon"></i>
            <% end %>
            <% link_to url(:quotn, :index), :class => 'icon item' do %>
                <i class="browser icon"></i>
            <% end %>
            <% link_to url(:kiita, :index), :class => 'icon item' do %>
                <i class="book icon"></i>
            <% end %>
            <% link_to url(:feeling, :index), :class => 'icon item' do %>
                <i class="smile icon"></i>
            <% end %>
            <% link_to url(:slack, :index), :class => 'icon item' do %>
                <i class="slack icon"></i>
            <% end %>
            <a class="icon item" data-content="" href="">
                <i class="wait icon"></i>
            </a>
        </div>
        <div class="right menu">
            <div class="vertically fitted borderless item">
                <iframe class="github" src="http://ghbtns.com/github-btn.html?user=wata-gh&amp;repo=bizevo&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
            </div>
            <a class="popup icon github item" data-content="View project on GitHub" href="https://github.com/wata-gh/bizevo">
                <i class="alternate github icon"></i>
            </a>
            <a class="popup icon github item" data-content="logout" href="<%= url(:auth, :logout) %>">
                <i class="sign out icon"></i>
            </a>
        </div>
    </div>
</div>
<div class="main container">
    <% if flash[:error].present? %>
        <div class="ui negative icon message">
            <i class="warning icon"></i>
            <div class="content">
                <div class="header">
                    <%= flash[:error] %>
                </div>
            </div>
        </div>
    <% end %>
    <% if flash[:success].present? %>
        <div class="ui positive icon message">
            <i class="checkmark icon"></i>
            <div class="content">
                <div class="header">
                    <%= flash[:success] %>
                </div>
            </div>
        </div>
    <% end %>
<%= yield %>
</div>
</body>
<html>

